{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.commandCount > 0 %}
        {% set icon %}
            {{ include('@DoctrineMongoDB/Collector/icon.svg') }}
            <span class="sf-toolbar-value">{{ collector.commandCount }}</span>
            <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">in</span>
                <span class="sf-toolbar-value">{{ '%0.2f'|format(collector.time / 1000) }}</span>
                <span class="sf-toolbar-label">ms</span>
            </span>
        {% endset %}
        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Database commands</b>
                <span class="sf-toolbar-status">{{ collector.commandCount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Command time</b>
                <span>{{ '%0.2f'|format(collector.time / 1000) }} ms</span>
            </div>
        {% endset %}
        {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
    {% endif %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAABLUlEQVR42u3TP0vDQBiA8UK/gDiLzi0IhU4OEunk5OQUAhGSOBUCzqWfIKSzX8DRySF0URCcMjWLIJjFD9Cpk/D6HITecEPUuzhIAz8CIdyTP/f2iqI4qaqqDx8l5Ic2uIeP/bquezCokOAFF+oCN3t4gPzSEjc4NEPaCldQbzjELTYW0RJzHDchwwem+ons6ZBpLSJ7nueJC22h0V+FzmwWV0ee59vQNV67CGVZJmEYbkNjfpY6X6I0Qo4/3RMmTdDDspuQVsJvgkP3IdMbIkIjLPBoadG2646iKJI0Ta2wxm6OdnP0/Tk6DYJgHcfxpw21RtscDTDDnaVZ26474GkkSRIrrPEv5sgMTfHe+cA2O6wPH6vOBpYQNALneHb96XTEDI6dzpEZ0VzO0Rf3pP5LMLI4tAAAAABJRU5ErkJggg==" alt="Mongo" /></span>
    <strong>Doctrine MongoDB</strong>
    <span class="count">
        <span>{{ collector.commandCount }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Command metrics</h2>
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.commandCount }}</span>
            <span class="label">Database commands</span>
        </div>

        <div class="metric">
            <span class="value">{{ '%0.3f'|format(collector.time / 1000) }} <span class="unit">ms</span></span>
            <span class="label">Command time</span>
        </div>
    </div>

    <h2>Commands</h2>
    {% if collector.commands is empty %}
        <div class="empty">
            <em>No commands were performed.</em>
        </div>
    {% endif %}
    <table class="queries-table">
        <thead>
        <tr>
            <th class="nowrap">#</th>
            <th class="nowrap">Time</th>
            <th class="nowrap">Database</th>
            <th style="width: 100%;">Info</th>
        </tr>
        </thead>
        <tbody id="commands">
        {% for command in collector.commands %}
            <tr>
                <td class="nowrap">{{ loop.index }}</td>
                <td class="nowrap">{{ '%0.3f'|format(command.durationMicros / 1000) }} ms</td>
                <td class="nowrap">{{ command.database }}</td>
                <td>
                    {{ command.command|json_encode() }}
                    <div class="text-small font-normal">
                        <a href="#" class="sf-toggle link-inverse" data-toggle-selector="#formatted-query-{{ loop.index }}" data-toggle-alt-content="Hide formatted query">View formatted query</a>
                    </div>
                    <div id="formatted-query-{{ loop.index }}" class="sql-runnable hidden">
                        <pre>{{ command.command|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
